.container{
    border: 2px solid rgb(0, 0, 0);
    width: 30%;
    border-radius: 15px; 
    padding: 20px;
    margin-top: 5%;
}
#imguser
{
    border-radius: 70%;
    border: 1px solid rgb(223, 3, 3);
    width: 170px;

}